[submodule "references/tinyxml2"]
	path = references/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "references/pugixml"]
	path = references/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "references/sqlite"]
	path = references/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "references/nlohmann-json"]
	path = references/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "references/fmtlib"]
	path = references/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "references/hicc-usages"]
	path = references/hicc-usages
	url = https://github.com/LuuuXXX/hicc-usages
[submodule "references/hicc"]
	path = references/hicc
	url = https://github.com/LuuuXXX/hicc
[submodule "references/c2rust-demo"]
	path = references/c2rust-demo
	url = https://github.com/LuuuXXX/c2rust-demo
[submodule "references/magic_enum"]
	path = references/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "references/tomlplusplus"]
	path = references/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
